---
import BaseHead from "./BaseHead.astro";
import "../css/global.css";
---

<html lang="es" class="dark">
	<BaseHead title="Super Lotto - VRIV" />
	<body class="antialiased">
		<slot />
	</body>
</html>
